meta(name="description", content="THREE CODESは、スロットでコード進行を3つ揃えると、面白いことが起きる流れる暇つぶしサイトです。")
meta(name="keywords", content="ギター, コード, スロット")
meta(property="og:title", content="THREE CODES")
meta(property="og:type", content="website")
meta(property="og:url", content="http://gonshi.github.io/three-codes/")
meta(property="og:image", content="http://gonshi.github.io/three-codes/img/ogp.jpg")
meta(property="og:site_name", content="gonshi.net")
meta(property="og:description", content="THREE CODESは、スロットでコード進行を3つ揃えると、面白いことが起きる暇つぶしサイトです。")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="THREE CODES")
meta(name="twitter:description" content="THREE CODESは、スロットでコード進行を3つ揃えると、面白いことが起きる暇つぶしサイトです。")
meta(name="twitter:image:src" content="http://gonshi.github.io/three-codes/img/ogp.jpg")
